##
## .gitignore for GLaDOS
##

## main
glados

## Binary
*.o
*.hi
.stack-work/
lambdananas

## Unused files
*~
.vscode/
**/*gdb*
*.pdf
*.log

# Stack
*.cabal
*.tix

## Tests
Got
PASSED

## .gitignore
!.gitignore
